<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $source := .Source }}
{{- $mediaserverBase := .MediaserverBase }}
{{- $search := printf "%s/search/%s" .SearchAddr .Lang }}
{{- $extraIgnore := list }}
{{- if ne .Params "" }}{{ $search = printf "%s?%s" $search .Params }}{{ end }}
<html lang="{{ $lang }}">
<head>
    {{ template "head.gohtml" . }}
    <link href="{{ .RootPath }}static/videojs/video-js.min.css" rel="stylesheet" />
</head>

<body class="w-100">
{{ if not .IFrame }}
{{ template "nav.gohtml" . }}

<div class="m-2">
<a href="{{ $search }}" class="btn btn-outline-secondary pborder">
    <span class="bi-chevron-left"></span>&nbsp;{{ localize "backtosearch" $lang }}
</a>
</div>
{{ end }}

<div class="container-fluid p-0 d-flex h-100">
    <div class="flex-fill">
        <div class="p-4">
            <div class="row">
                <div class="col col-md-7" style="text-align: center;">
                    {{ template "detail_image.gohtml" . }}
                    {{ template "detail_video.gohtml" . }}
                    {{ template "detail_audio.gohtml" . }}
                    {{ template "detail_pdf.gohtml" . }}
                </div>
                <div class="col col-md-5">
                    {{- $title := multiLang $source.Base.Title }}
                    <h1>
                        {{ $title.String }}
                        {{ if $source.Base.Date }}<br /><span style="font-weight: normal;">({{ $source.Base.Date }})</span>{{ end }}
                    </h1>
                    {{ if $source.Base.URL }}<span style="font-weight: normal;"><a target="_blank" href="{{ $source.Base.URL }}">{{ $source.Base.URL }}</a></span><br />{{ end }}
                    <div class="p-2 borderedge">
                    <span style="font-weight: bold;">
                    {{- range $key, $p := $source.Base.Person}}
                        {{- if hasPrefix "artist" $p.Role}}
                            {{- if gt $key 0}}; {{end}}{{$p.Name}}
                        {{- end}}
                    {{- end}}
                    </span>
                    {{- range $p := $source.Base.Person}}
                        {{- if not (hasPrefix "artist" $p.Role)}}
                            {{$p.Name}} ({{camelcase (trimPrefix "performer:" $p.Role)}})<br />
                        {{- end}}
                    {{- end}}
                    </div>
                    <img class="number" style="width: 376px; height:15px;" src="{{ $root }}static/img/line_short.png" />
                    {{- $abstract := multiLang $source.Abstract }}
                    {{- $abstractStr := $abstract.GetStr $lang }}
                    {{- $abstractOriginalLang := $abstract.GetNativeLanguage  }}
                    {{- if ne $abstractStr "" }}
                    <div class="mt-4 p-2 borderedge" style="text-align: left;">
                        {{ toHTML $abstractStr }}
                        {{- if ne $abstractOriginalLang.String $lang }}
                            <div class="alert alert-secondary p-1 mt-1" role="alert" style="font-size: smaller;">
                                {{ localize "autotranslatefrom" $lang }} {{ localize (printf "%sen" $abstractOriginalLang.String) $lang }}
                            </div>
                        {{- end }}
                    </div>
                    <img class="number" style="width: 376px; height:15px;" src="{{ $root }}static/img/line_short.png" />

                    {{- end }}

                    {{- if gt (len $source.Notes) 0 }}
                        {{range $note := $source.Notes}}
                            <div class="p-2 borderedge">
                                <div style="font-weight: bold;">{{ $note.Title }}</div>
                                <div style="text-align: left;">{{ toHTMLif $note.Text }}</div>
                            </div>
                            <img class="number" style="width: 376px; height:15px;" src="{{ $root }}static/img/line_short.png" />
                        {{end}}
                    {{- end }}

                    {{/* Event */}}
                    <div class="p-2" style="margin-top: 20px;">
                        {{- $festival := map $source.Extra "festival" }}
                        {{- $extraIgnore = append $extraIgnore "festival"}}
                        {{ if ne $festival ""}}<div style="font-weight: bold;">{{ $festival }}</div>{{ end }}
                        <p class="card-text mb-auto">
                            {{ if ne (ptrString $source.Base.Place) "" }}{{ localize "place" $lang }}: {{ $source.Base.Place }}<br />{{ end }}
                            {{- $eventcurator := map $source.Extra "eventcurator" }}
                            {{- $extraIgnore = append $extraIgnore "eventcurator"}}
                            {{if ne $eventcurator ""}}KuratorIn: {{ $eventcurator }}<br />{{ end }}
                            {{- $doctype := map $source.Extra "doctype" }}
                            {{- $extraIgnore = append $extraIgnore "doctype"}}
                            {{if ne $doctype ""}}Dokumentationstyp: {{ $doctype }}<br />{{ end }}
                        </p>
                    </div>

                    {{- $anderesformat := map $source.Extra "anderesformat" }}
                    {{- $extraIgnore = append $extraIgnore "anderesformat"}}
                    {{- if ne $anderesformat "" }}
                        <div class="p-2 borderedge">
                            <div style="font-weight: bold;">Alternative</div>
                            <div style="text-align: left;">{{ $anderesformat }}</div>
                        </div>
                        <img class="number" style="width: 376px; height:15px;" src="{{ $root }}static/img/line_short.png" />
                    {{- end }}

                    {{/* Medium */}}
                    {{- if (ne $source.Base.Source "zotero2-1624911")}}
                        {{- $medium := map $source.Extra "medium" }}
                        {{- $extraIgnore = append $extraIgnore "medium"}}
                        {{- if ne $medium "" }}
                            <div class="p-2 borderedge">
                            <div style="font-weight: bold; margin-top: 10px;">Medium</div>
                            <p class="card-text mb-auto">
                                    {{ $medium }}<br />
                                {{- $dauer := map $source.Extra "dauer" }}
                                {{- $extraIgnore = append $extraIgnore "dauer"}}
                                {{- if ne $dauer "" }}
                                    Dauer: {{ $dauer }}<br />
                                {{- end }}
                            </p>
                        </div>
                        {{- end }}
                    {{- end }}
                    <div class="borderedge">
                        <div style="font-weight: bold; margin-top: 10px;">Extra</div>
                        <table style="table-layout: fixed; width: 100%; border: none;">
                    {{- range $extra := $source.Extra }}
                        {{- if not (has $extra.Key $extraIgnore) }}
                        <tr style="vertical-align: text-top;">
                            <td style="font-weight: bold; width: 30%; border: none; text-align: right;">
                                {{ $extra.Key }}:&nbsp;
                            </td>
                            <td style="width: 70%; border: none; overflow-wrap: break-word;">
                                <span style="overflow-wrap: break-word;">{{ $extra.Value }}</span>
                            </td>
                        </tr>
                        {{- end }}
                    {{- end }}
                        </table>
                    </div>
                    <img class="number" style="width: 376px; height:15px;" src="{{ $root }}static/img/line_short.png" />
                </div>
            </div>
        </div>
    </div>
</div>

{{ if not .IFrame}}
{{ template "footer.gohtml" . }}
{{ end }}
<script src="{{ .RootPath }}static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    window.HELP_IMPROVE_VIDEOJS = false;
</script>
<script src="{{ .RootPath }}static/videojs/video.min.js"></script>
<script>
    const carousel = new bootstrap.Carousel('#carouselDetailImage');
    function carouselTo(index) {
        carousel.to(index);
    }
</script>

</body>
</html>
