<footer class="py-3 my-4">
    <p class="text-center text-body-secondary">{{ localize "title" .Lang }} build by info-age GmbH Basel<br/>
    <p class="text-center text-body-secondary">
        <a href="#">Back to top</a>
    </p>
</footer>
