<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $searchBase := join "" (list $root "search/" $lang)}}
<html lang="{{ $lang }}" data-bs-theme="dark">
<head>
    {{ template "head.gohtml" . }}
    <style>
        .btn-csp {
            --bs-btn-bg: #212529;
        }
    </style>
</head>
<body class="w-100" style="background-image: url({{ $root }}static/img/index_bg2.jpg); background-size: cover;" data-bs-theme="dark">
    {{ template "nav.gohtml" . }}

    <main class="container-fluid">
            <div class="row d-none d-md-block">
                <div class="col p-0 csp-bubble-area" style="" id="bubbleArea"></div>
            </div>
        <div class="container mt-3 mb-3">
                <div class="row">
                    <div class="col-md d-flex justify-content-end align-items-center">
                        <div class="input-group">
                            <input style="background-color: rgba(156, 156, 181, 0.7);" id="search" class="form-control w-auto longborderblack" type="search" placeholder="{{ localize "searchtext" $lang }}" aria-label="{{ localize "search" $lang }}">&nbsp;
                        </div>
                        <button onclick="search('{{ $searchBase }}')" class="btn noborder" type="submit"><img alt="KI search" class="" width=28 src="{{ $root }}static/img/lupe_black.png"></button>
                        <button onclick="search('{{ $searchBase }}', '', false, true)" class="btn noborder" type="submit"><img class="" width=28 src="{{ $root }}static/img/ki2_black.png"></button>
                    </div>
                </div>
                <div class="container mt-5">
                    {{- range $key, $coll := .Collections }}
                        <span class="me-3">
                        <button style="margin: 1px; padding: 1px 4px 1px 4px;" onclick="this.setAttribute('selected', 'true');search('{{ $searchBase }}', '', false, false)" type="button" class="noborder btn btn-csp collectionButton" value="{{ $coll.Id }}" selected="false">
                            {{ $coll.Title }}
                        {{- $ds := digits $coll.Count }}
                        {{- range $digit := $ds }}
                            <img class="number" style="height:30px;" src="{{ printf "%sstatic/img/%s.png" $root (runeString $digit) }}"/>
                        {{- end }}
                        </button>
                        </span>
                    {{ end }}

                    <!--
                    <table class="table">
                        <tbody>
                    {{- range $key, $coll := .Collections }}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input name="collection_{{ $coll.Id }}" value="{{ $coll.Id }}" class="collectionCheck form-check-input pborder" type="checkbox" id="collSwitch_{{ $key }}">
                                        <label class="form-check-label" for="collSwitch_{{ $key }}">{{ $coll.Title }}</label>
                                    </div>
                                </td>
                                <td>
                                    <a style="white-space: nowrap;" href="{{ $coll.Url }}" target="_blank" type="button" class="btn btn-sm pborder"><span class="bi-box-arrow-up-right"></span>&nbsp{{ localize "collection" $lang }}</a>
                                </td>
                            </tr>
                    {{- end }}
                        </tbody>
                    </table>
                    -->
                </div>

        </div>

        <div class="px-4 py-1 text-center">
            <!-- h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1 -->
            <div class="col-lg-8 mx-auto">
                <p class="lead mb-4 text-black fw-medium rounded-2" style="background-color: rgba(156, 156, 181, 0.7);">
                    {{- if eq $lang "en" }}
                    The portal <span style="font-variant: small-caps;">Collections of Swiss Performance Art</span> offers a panorama of perfor-mance art in
                    Switzerland. It presents constellations of artists and individual events in order to make the
                    connections visible. Illustrate the variety and diversity of Swiss performance history from its
                    beginnings to the present day. The media library at HGK Basel (University of Applied Sciences
                    Northwestern Switzerland) provides the platform and thus makes it easier to find.
                    <br />
                    Videos, photos, texts, interviews, scores and concepts can continue to be entered as a basis for
                    historical interpretations, the processing of translocal performance histories and making source
                    material and documents accessible. Collective works are another focus of the collection, as group
                    works are often lost. Ways of shared authorship are rarely included in personal portfolios. With
                    the help of the call linked below, further materials can be tracked down, contributed and collected.
                    Organizers with extensive collections should contact the media library directly, which organizes the
                    inclusion of new collections.
                    {{- else if eq $lang "fr" }}
                        Le portail <span style="font-variant: small-caps;">Collections de l'Art Performance Suisse</span>
                        offre un panorama de l'art de la performance en Suisse. Il présente des constellations d'artistes
                        et des événements individuels afin de rendre les liens visibles. Elle illustre la variété et la
                        diversité de l'histoire de la performance en Suisse, de ses débuts à aujourd'hui. La médiathèque
                        de la HGK Basel (Haute école spécialisée du Nord-Ouest de la Suisse) fournit la plateforme et
                        facilite ainsi la recherche.
                    <br />
                    Vidéos, photos, textes, interviews, partitions et concepts peuvent continuer à être saisis pour
                        servir de base à des interprétations historiques, au traitement d'histoires translocales de la
                        performance et à l'accessibilité des sources et des documents. Les œuvres collectives sont un
                        autre point fort de la collection, car les œuvres de groupe sont souvent perdues. Les formes de
                        partage de la paternité sont rarement incluses dans les portfolios personnels. Avec l'aide de
                        l'appel à candidatures ci-dessous, d'autres matériaux peuvent être recherchés, apportés et
                        collectés. Les organisateurs disposant de vastes collections doivent contacter directement la
                            médiathèque, qui organise l'inclusion de nouvelles collections.

                    {{- else if eq $lang "it" }}
                    Il portale <span style="font-variant: small-caps;">Collezioni Performance Art Svizzera</span>
                        offre un panorama dell'arte della performance in
                        Svizzera. Presenta costellazioni di artisti e singoli eventi per rendere visibili le connessioni.
                        Illustra la varietà e la diversità della storia della performance svizzera, dagli inizi ai giorni
                        nostri. La mediateca della HGK di Basilea (Università di Scienze Applicate della Svizzera
                        nordoccidentale) fornisce la piattaforma e ne facilita la ricerca.
                    <br />
                    Video, foto, testi, interviste, partiture e concetti possono continuare a essere inseriti come
                        base per interpretazioni storiche, per l'elaborazione di storie di performance translocali e per
                        rendere accessibili materiali e documenti di partenza. Le opere collettive sono un altro punto
                        focale della collezione, poiché i lavori di gruppo spesso vanno persi. Le forme di autorialità
                        condivisa sono raramente incluse nei portfolio personali. Con l'aiuto dell'invito riportato di
                        seguito, è possibile rin-tracciare, contribuire e raccogliere ulteriori materiali. Gli
                        organizzatori con ampie collezioni dovr-ebbero contattare direttamente la mediateca, che
                        organizza l'inclusione di nuove collezioni.
                    {{- else }}
                    Das Portal <span style="font-variant: small-caps;">Sammlungen Performance Kunst Schweiz</span> bietet ein Panorama zum Performance Kunstgeschehen
                    in der Schweiz. Es schafft Konstellationen für Kunstschaffende und Einzelereignisse, um die
                    Zusammenhänge, die Vielfalt und Diversität der Schweizer Performance Ge-schichte:n von ihren
                    Anfängen bis heute werden sichtbar zu machen. Die Mediathek HGK Basel der Fachhochschule
                    Nordwestschweiz stellt die Plattform zur Verfügung und erleichtert damit die Auffindbarkeit.
                    <br />
                    Als Grundlage für historische Auslegeordnungen, das Aufarbeiten der translokalen Performance
                    Geschichte:n und das Zugänglichmachen von Quellenmaterial sowie Dokumenten können weiterhin Videos,
                    Fotos, Texte, Interviews, Scores und Konzepte eingegeben werden. Einen weiteren Sammelschwerpunkt
                    bilden kollektive Arbeiten, weil Gruppenarbeiten oft erst einmal verschollen sind. Wege der
                    geteilten Autorschaft werden selten in persönliche Portfolios aufgenommen. Mithilfe des unten
                    verlinkten Aufrufs können weitere Materialien aufgespürt, eingebracht und zusam-mengetragen werden.
                    Veranstalter:innen mit umfangreichen Sammlungen wenden sich bitte direkt an die Mediathek, die die
                    Aufnahme neuer Sammlung organisiert.
                    {{- end }}
                </p>
            </div>
        </div>
    </main>

    {{ template "footer.gohtml" . }}

    <script src="static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/d3bubble.js"></script>
    <script src="static/js/search.js"></script>
    <script>
        function getImgUrl(img, diameter) {
            return `{{ $root }}/static/img/wesen_behaelter/${img}`
        }

        {{- $maxRadius := 100 }}
        {{- $minRadius := 60 }}
        {{- $maxDiameter := mul $maxRadius 2 }}
        const collections =  [
            {{- range $key, $coll := .Collections }}
            { id: '{{ $key }}', image: {{ $coll.Image }}, title: '{{ $coll.Title }}', link: '{{ $coll.Url }}', radius: {{ randInt $minRadius $maxRadius}}, value: {{ divf (randInt 10 99) 100 }} },
            {{- end }}
        ]


        const area = document.getElementById('bubbleArea');
        const width = area.offsetWidth;
        const height = area.offsetHeight;

        const svg = d3.create("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", [0, 0, width, height])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;")
            //.attr("fill", "currentColor")
            .attr("font-size", "0.7em")
            .attr("font-family", "sans-serif")
            .attr("text-anchor", "middle");

        const xScale = d3.scaleLinear().domain([0, 1]).range([0, width-100]);

        const numNodes = {{ len .Collections }}; // 40;
        const nodes = collections;


        const simulation = d3.forceSimulation(nodes)
            .force('charge', d3.forceManyBody().strength(5))
            .force('x', d3.forceX().x(function (d) {
                return xScale(d.value);
            }))
            .force('y', d3.forceY().y(function (d) {
                return 0;
            }))
            .force('collision', d3.forceCollide().radius(function (d) {
                return d.radius;
            }))
            .on('tick', ticked);

        const leaf = svg.selectAll('a')
            .data(nodes)
            .join('a')
            .attr("xlink:href", d => d.link)
            .attr("target", "_blank")

        leaf.append("clipPath")
            .attr("id", d => `clip-${d.id}`)
            .append("circle")
            .attr('transform', d => 'translate(' + [d.radius, d.radius] + ')')
            .attr("r", d => d.radius);

        let maxDiameter = {{ $maxDiameter }};
        leaf.append("image")
            .attr("width", d => d.radius*2)
            .attr("height", d => d.radius*2)
            .attr("clip-path", d => `url(#clip-${d.id})`)
            .attr('transform', d => 'translate(' + [-d.radius, -d.radius] + ')')
            //.attr("xlink:href", d => `https://cms.basel-collections.ch/assets/${ d.image }?fit=cover&width=${maxDiameter}&height=${maxDiameter}`);
            .attr("xlink:href", d => getImgUrl( d.image, maxDiameter)   );


        var ticksPerRender = 2;
        var tickCount = 0;
        function ticked() {
            tickCount++;
            if (tickCount <= ticksPerRender) {
                return;
            }
            tickCount = 0;

            const leaf = svg.selectAll('a')
                .data(nodes)
                .join('a')
                .attr('transform', d => 'translate(' + [d.x, d.y+height/2] + ')')

        }

        let container = document.getElementById('bubbleArea');

        // Append the SVG element.
        container.append(svg.node());
    </script>
</body>
</html>

