<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>REVOLVING HI:STORIES</title>


    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <meta name="theme-color" content="#712cf9">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="static/css/ibm-plex-serif.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/blog.css" rel="stylesheet">
</head>
<body class="w-100">

<div class="container-fluid">
    <header class="col-12">
        <form class="row">
            <div class="col" style="-ms-flex: 0 0 192px; flex: 0 0 192px">
                <img style="height: 55px" src="static/img/revolving.png" alt="Title: REVOLVING HI:STORIES" />
            </div>
            <div class="col" style="-ms-flex: 0 0 143px; flex: 0 0 143px">
                <img style="height: 55px" src="static/img/histories.png" alt="Title: HI:STORIES" />
            </div>
            <div class="col-md d-flex justify-content-end align-items-center">
                <div class="input-group">
                    <input class="form-control w-auto" type="search" placeholder="Search" aria-label="Search">
                    <select class="form-select me-2" aria-label="collection">
                        <option value="0" selected>Alle Sammlungen</option>
                        {{- range $val := until  15 }}
                        {{- $val = add $val 1 }}
                        <option value="{{$val}}">Sammlung #{{$val}}</option>
                        {{- end }}
                    </select>
                </div>
                <button class="col btn btn-outline-dark" type="submit">Suche</button>
            </div>
        </form>
    </header>
</div>

<main class="container-fluid">
    <div class="album py-5 bg-body-tertiary">
        <div class="container-fluid">
            <div class="row g-12">
                {{- range $val := until  15 }}
                    {{- $val = add $val 1 }}
                    <div class="col p-0" style='background-image: url("static/img/frame.svg"); background-size: 100% 100%;'>
                        <div class="m-5" style="transform: rotate(-{{randInt 3 12}}deg)">
                            <div style="align-content: center;">
                                <svg class="bd-placeholder-img card-img-top" style="width: 200px; height: 200px;" width="100px" height="200px" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Sammlung #{{$val}}</text></svg>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada nunc id nibh venenatis venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Suche</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Sammlungsseite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{- end }}
            </div>
        </div>
    </div>

</main>
<footer class="blog-footer">
    <p>REVOLVING HI:STORIES build by info-age GmbH Basel</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>



</body>
</html>

