<!doctype html>
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $searchBase := join "" (list $root "search/" $lang)}}
<html lang="{{ $lang }}" data-bs-theme="dark">
<head>
    {{ template "head.gohtml" . }}
    <style>
        .btn-csp {
            --bs-btn-bg: #212529;
        }
    </style>
</head>
<body class="w-100" style="background-image: url({{ $root }}static/img/index_bg2.jpg); background-size: cover;" data-bs-theme="dark">
    {{ template "nav.gohtml" . }}

    <main class="container-fluid">
            <div class="row d-none d-md-block">
                <div class="col p-0 csp-bubble-area" style="" id="bubbleArea"></div>
            </div>
        <div class="container mt-3 mb-3">
                <div class="row">
                    <div class="col-md d-flex justify-content-end align-items-center">
                        <div class="input-group">
                            <input style="background-color: rgba(156, 156, 181, 0.7);" id="search" class="form-control w-auto longborderblack" type="search" placeholder="{{ localize "searchtext" $lang }}" aria-label="{{ localize "search" $lang }}">&nbsp;
                        </div>
                        <button onclick="search('{{ $searchBase }}')" class="btn noborder" type="submit"><img alt="KI search" class="" width=28 src="{{ $root }}static/img/lupe_black.png"></button>
                        <button onclick="search('{{ $searchBase }}', '', false, true)" class="btn noborder" type="submit"><img class="" width=28 src="{{ $root }}static/img/ki2_black.png"></button>
                    </div>
                </div>
                <div class="container mt-5">
                    {{- range $key, $coll := .Collections }}
                        <span class="me-3">
                        <button style="margin: 1px; padding: 1px 4px 1px 4px;" onclick="this.setAttribute('selected', 'true');search('{{ $searchBase }}', '', false, false)" type="button" class="noborder btn btn-csp collectionButton" value="{{ $coll.Id }}" selected="false">
                            {{ $coll.Title }}
                        {{- $ds := digits $coll.Count }}
                        {{- range $digit := $ds }}
                            <img class="number" style="height:30px;" src="{{ printf "%sstatic/img/%s.png" $root (runeString $digit) }}"/>
                        {{- end }}
                        </button>
                        </span>
                    {{ end }}

                    <!--
                    <table class="table">
                        <tbody>
                    {{- range $key, $coll := .Collections }}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input name="collection_{{ $coll.Id }}" value="{{ $coll.Id }}" class="collectionCheck form-check-input pborder" type="checkbox" id="collSwitch_{{ $key }}">
                                        <label class="form-check-label" for="collSwitch_{{ $key }}">{{ $coll.Title }}</label>
                                    </div>
                                </td>
                                <td>
                                    <a style="white-space: nowrap;" href="{{ $coll.Url }}" target="_blank" type="button" class="btn btn-sm pborder"><span class="bi-box-arrow-up-right"></span>&nbsp{{ localize "collection" $lang }}</a>
                                </td>
                            </tr>
                    {{- end }}
                        </tbody>
                    </table>
                    -->
                </div>

        </div>
    </main>

    {{ template "footer.gohtml" . }}

    <script src="static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/d3bubble.js"></script>
    <script src="static/js/search.js"></script>
    <script>
        function getImgUrl(img, diameter) {
            if (img === "c442ac3a-c123-4bef-bb5f-28e33d3060b2") {
                return `{{ printf "%sstatic/img/coll_act.png" $root }}`
            }
            return `https://cms.basel-collections.ch/assets/${img}?fit=cover&width=${diameter}&height=${diameter}`
        }

        {{- $maxRadius := 100 }}
        {{- $minRadius := 60 }}
        {{- $maxDiameter := mul $maxRadius 2 }}
        const collections =  [
            {{- range $key, $coll := .Collections }}
            { id: '{{ $key }}', image: {{ $coll.Image }}, title: '{{ $coll.Title }}', link: '{{ $coll.Url }}', radius: {{ randInt $minRadius $maxRadius}}, value: {{ divf (randInt 10 99) 100 }} },
            {{- end }}
        ]


        const area = document.getElementById('bubbleArea');
        const width = area.offsetWidth;
        const height = area.offsetHeight;

        const svg = d3.create("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", [0, 0, width, height])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;")
            //.attr("fill", "currentColor")
            .attr("font-size", "0.7em")
            .attr("font-family", "sans-serif")
            .attr("text-anchor", "middle");

        const xScale = d3.scaleLinear().domain([0, 1]).range([0, width-100]);

        const numNodes = {{ len .Collections }}; // 40;
        const nodes = collections;


        const simulation = d3.forceSimulation(nodes)
            .force('charge', d3.forceManyBody().strength(5))
            .force('x', d3.forceX().x(function (d) {
                return xScale(d.value);
            }))
            .force('y', d3.forceY().y(function (d) {
                return 0;
            }))
            .force('collision', d3.forceCollide().radius(function (d) {
                return d.radius;
            }))
            .on('tick', ticked);

        const leaf = svg.selectAll('a')
            .data(nodes)
            .join('a')
            .attr("xlink:href", d => d.link)
            .attr("target", "_blank")

        leaf.append("clipPath")
            .attr("id", d => `clip-${d.id}`)
            .append("circle")
            .attr('transform', d => 'translate(' + [d.radius, d.radius] + ')')
            .attr("r", d => d.radius);

        let maxDiameter = {{ $maxDiameter }};
        leaf.append("image")
            .attr("width", d => d.radius*2)
            .attr("height", d => d.radius*2)
            .attr("clip-path", d => `url(#clip-${d.id})`)
            .attr('transform', d => 'translate(' + [-d.radius, -d.radius] + ')')
            //.attr("xlink:href", d => `https://cms.basel-collections.ch/assets/${ d.image }?fit=cover&width=${maxDiameter}&height=${maxDiameter}`);
            .attr("xlink:href", d => getImgUrl( d.image, maxDiameter)   );


        var ticksPerRender = 2;
        var tickCount = 0;
        function ticked() {
            tickCount++;
            if (tickCount <= ticksPerRender) {
                return;
            }
            tickCount = 0;

            const leaf = svg.selectAll('a')
                .data(nodes)
                .join('a')
                .attr('transform', d => 'translate(' + [d.x, d.y+height/2] + ')')

        }

        let container = document.getElementById('bubbleArea');

        // Append the SVG element.
        container.append(svg.node());
    </script>
</body>
</html>

