<!doctype html>
<html lang="de">
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $mediaserverBase := .MediaserverBase }}
{{- $searchBase := join "" (list $root "search/" $lang)}}

{{template "head.gohtml" . }}

<body class="w-100">

{{ template "nav.gohtml" . }}

<div class="container-fluid p-0 d-flex h-100">
    <div class="flex-fill">
        <div class="p-4">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="d-flex w-100" role="search">
                                <input id="search" class="form-control longborder me-2" type="search" placeholder="{{ localize "search" $lang }}" aria-label="{{ localize "search" $lang }}" value="{{.RequestQuery.Search}}"/>
                                <button onclick="search('{{ $searchBase }}')" class="btn btn-outline-secondary pborder" type="submit">{{ localize "search" $lang }}</button>
                                <div class="ms-2 d-lg-none d-flex">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="album py-5">
                        <nav class="navbar">
                            <button {{ if not .Result.PageInfo.HasPreviousPage }}disabled{{ end }} onclick="search('{{ $searchBase }}', '{{ .Result.PageInfo.StartCursor }}', '')" class="btn btn-outline-secondary pborder" type="submit">
                                <span class="bi-chevron-left"></span>&nbsp;{{ localize "back" $lang }}
                            </button>
                            {{ localize "founditems" $lang }}: {{ .Result.TotalCount }}
                            <button {{ if not .Result.PageInfo.HasNextPage }}disabled{{ end }} onclick="search('{{ $searchBase }}', '', '{{ .Result.PageInfo.EndCursor }}'), ''" class="btn btn-outline-secondary pborder" type="submit">
                                {{ localize "next" $lang }}&nbsp;<span class="bi-chevron-right"></span>
                            </button>
                        </nav>
                        <div class="container-fluid">
                            <div class="row g-12">
                                {{- range $edge := .Result.Edges }}
                                    <div class="col p-0" style='max-width: 320px; background-image: url("../static/img/frame0.png"); background-size: 100% 100%;'>
                                        <div class="m-5" style="transform: rotate(-{{randInt 3 12}}deg)">
                                            <div style="align-content: center; text-align: center">
                                                {{- if $edge.Base.Poster }}
                                                    {{- $size := calcAspectSize $edge.Base.Poster.Width $edge.Base.Poster.Height 200 200 }}
                                                    <img class="bd-placeholder-img card-img-top" style="width: {{$size.Width}}px; height: {{$size.Height}}px" src="{{ $mediaserverBase }}/{{ trimPrefix "mediaserver:" $edge.Base.Poster.URI }}/resize/resize/size200x200/formatPNG/autorotate" />
                                                {{- else }}
                                                    <svg class="bd-placeholder-img card-img-top" style="width: 200px; height: 200px;" width="100px" height="200px" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                                                {{- end }}
                                            </div>
                                            <div class="card-body pb-2">
                                                <p class="card-title">
                                                    {{$edge.Base.Title}}
                                                </p>
                                                <p class="card-text"></p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-sm btn-outline-secondary">Suche</button>
                                                        <button type="button" class="btn btn-sm btn-outline-secondary">Sammlungsseite</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{- end }}
                            </div>
                        </div>
                        <nav class="navbar">
                            <button {{ if not .Result.PageInfo.HasPreviousPage }}disabled{{ end }} onclick="search('{{ $searchBase }}', '{{ .Result.PageInfo.StartCursor }}', '')" class="btn btn-outline-secondary pborder" type="submit">
                                <span class="bi-chevron-left"></span>&nbsp;{{ localize "back" $lang }}
                            </button>
                            <button {{ if not .Result.PageInfo.HasNextPage }}disabled{{ end }} onclick="search('{{ $searchBase }}', '', '{{ .Result.PageInfo.EndCursor }}'), ''" class="btn btn-outline-secondary pborder" type="submit">
                                {{ localize "next" $lang }}&nbsp;<span class="bi-chevron-right"></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="width: 400px;" id="facetBar"
         class="d-flex flex-column flex-shrink-0
					p-3 offcanvas-lg offcanvas-end">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-label="Close"></button>
        </div>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            {{ range $collFacet := .CollectionFacets }}
            <li class="nav-item mb-1">
                <div class="form-check">
                    <input onchange="search('{{ $searchBase }}')" class="collectionCheck form-check-input pborder" type="checkbox" value="{{ $collFacet.ID }}" name="collection_{{ $collFacet.ID }}"{{ if $collFacet.Checked }} checked{{ end }}>
                    <label class="form-check-label" for="flexCheckChecked">
                        {{ $collFacet.Name }} ({{ $collFacet.Count }})
                    </label>
                </div>
            </li>
            {{ end }}
            {{ range $parent, $vocabFacets := .VocabularyFacets }}
                <li class="nav-item mb-1">
                    <hr />
                    {{ localize (nospace (cat "voc_" (slug $parent "de"))) $lang }}
                    <ul class="mynav nav nav-pills flex-column mb-auto">
                    {{ range $vocabFacet := $vocabFacets }}
                    <li class="nav-item mb-1">
                        <div class="form-check">
                            <input onchange="search('{{ $searchBase }}')" class="collectionCheck form-check-input pborder" type="checkbox" value="voc:{{ $parent }}:{{ $vocabFacet }}"{{ if $vocabFacet.Checked }} checked{{ end }}>
                            <label class="form-check-label" for="flexCheckChecked">
                                {{ localize (nospace (cat "voc_" (slug $vocabFacet.Name "de"))) $lang }} ({{ $vocabFacet.Count }})
                            </label>
                        </div>
                    </li>
                   {{ end }}
                    </ul>
                </li>
            {{ end }}
    </ul>
    </div>
</div>

{{ template "footer.gohtml" . }}


<script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/search.js"></script>
</body>
</html>

