<!doctype html>
{{- $data := . }}
{{- $lang := .Lang}}
{{- $root := .RootPath }}
{{- $mediaserverBase := .MediaserverBase }}
{{- $searchBase := join "" (list $root "search/" $lang)}}
{{- $detailAddr := .DetailAddr }}
{{- $params := .Params }}
{{- $search := printf "%s/search/%s%s" .SearchAddr .Lang .Params }}
<html lang="{{ $lang }}">

{{template "head.gohtml" . }}

<body class="w-100">

{{ template "nav.gohtml" . }}

<div class="container-fluid p-0 d-flex h-100">
    <div class="flex-fill">
        <div class="p-4">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="d-flex w-100" role="search">
                                <input onkeyup="if (event.keyCode === 13) search('{{ $searchBase }}') " id="search" class="form-control longborder me-2" type="search" placeholder="{{ localize "search" $lang }}" aria-label="{{ localize "search" $lang }}" value="{{.RequestQuery.Search}}"/>
                                <button onclick="search('{{ $searchBase }}')" class="btn btn-outline-secondary pborder" type="submit">{{ localize "search" $lang }}</button>
                                <div class="ms-2 d-lg-none d-flex">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="album py-5">
                        <nav class="navbar">
                            <a href="?{{ if ne $params "" }}{{ $params }}&{{ end }}cursor={{ toURL .PageInfo.StartCursor }}" class="{{ if not .PageInfo.HasPreviousPage }}disabled {{ end }}btn btn-outline-secondary pborder">
                                <span class="bi-chevron-left"></span>&nbsp;{{ localize "back" $lang }}
                            </a>
                            {{ localize "founditems" $lang }}: {{ .TotalCount }}
                            <a href="?{{ if ne $params "" }}{{ $params }}&{{ end }}cursor={{ toURL .PageInfo.EndCursor }}" class="{{ if not .PageInfo.HasNextPage }}disabled {{ end }}btn btn-outline-secondary pborder">
                                {{ localize "next" $lang }}&nbsp;<span class="bi-chevron-right"></span>
                            </a>
                        </nav>
                        <div class="container-fluid">
                            <div class="row g-12">
                                {{- range $edge := .Edges }}
                                    <!-- div class="col p-0" style='max-width: 320px; background-image: url("../static/img/frame0.png"); background-size: 100% 100%;' -->
                                    <div class="col p-0" style='max-width: 320px;'>
                                        <a style="color: inherit; text-decoration: inherit;" href="{{ $detailAddr }}/detail/{{ $edge.Edge.Base.Signature }}/{{ $lang }}?{{ if ne $data.Cursor "" }}cursor={{ $data.Cursor }}{{ end }}{{ if ne $params "" }}&{{ $params }}{{ end }}">
                                            <div class="m-2 p-2 borderedge" style="transform: rotate(-{{randInt 3 12}}deg)">
                                                <div style="align-content: center; text-align: center">
                                                    {{- if $edge.Edge.Base.Poster }}
                                                        {{- $size := calcAspectSize $edge.Edge.Base.Poster.Width $edge.Edge.Base.Poster.Height 200 200 }}
                                                        <img class="bd-placeholder-img card-img-top" style="width: {{$size.Width}}px; height: {{$size.Height}}px" src="{{ $mediaserverBase }}/{{ trimPrefix "mediaserver:" $edge.Edge.Base.Poster.URI }}/resize/resize/size200x200/formatPNG/autorotate" />
                                                    {{- else }}
                                                        <svg class="bd-placeholder-img card-img-top" style="width: 200px; height: 200px;" width="100px" height="200px" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                                                    {{- end }}
                                                </div>
                                                <div class="card-body pb-2">
                                                    <p class="card-title">
                                                        #{{ $edge.Edge.Base.Signature }}<br />
                                                        <b>{{$edge.Title.String}}</b>{{ if ne $edge.Date "" }} ({{ $edge.Date }}){{ end }}<br />
                                                        {{ $edge.Persons }}
                                                    </p>
                                                    <!--
                                                    <p class="card-text"></p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Suche</button>
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Sammlungsseite</button>
                                                        </div>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {{- end }}
                            </div>
                        </div>
                        <nav class="navbar">
                            <a href="?{{ if ne $params "" }}{{ $params }}&{{ end }}cursor={{ toURL .PageInfo.StartCursor }}" class="{{ if not .PageInfo.HasPreviousPage }}disabled {{ end }}btn btn-outline-secondary pborder">
                                <span class="bi-chevron-left"></span>&nbsp;{{ localize "back" $lang }}
                            </a>
                            {{ localize "founditems" $lang }}: {{ .TotalCount }}
                            <a href="?{{ if ne $params "" }}{{ $params }}&{{ end }}cursor={{ toURL .PageInfo.EndCursor }}" class="{{ if not .PageInfo.HasNextPage }}disabled {{ end }}btn btn-outline-secondary pborder">
                                {{ localize "next" $lang }}&nbsp;<span class="bi-chevron-right"></span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="overflow: auto; width: 600px;" id="facetBar"
         class="d-flex flex-column flex-shrink-0
					p-3 offcanvas-lg offcanvas-end">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#facetBar" aria-controls="facetBar" aria-label="Close"></button>
        </div>
        <div class="d-block gap-2">
            {{ range $collFacet := .CollectionFacets }}
                <button style="padding: 3px 6px 3px 6px;" onclick="{{ if $collFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}')" type="button" class="btn borderedge btn-csp collectionButton" value="{{ $collFacet.ID }}" selected="{{ if $collFacet.Checked }}true{{ else }}false{{ end }}">
                    {{ if $collFacet.Checked }}<i class="bi bi-check2"></i>&nbsp;{{ end }}{{ abbrev 16 $collFacet.Name }} ({{ $collFacet.Count }})
                </button>
            {{ end }}
        </div>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            {{ range $parent, $vocabFacets := .VocabularyFacets }}
                <li class="nav-item mb-1">
                    <hr />
                    {{ localize $parent $lang }}
                    <div class="d-block gap-2">
                    {{ range $vocabFacet := $vocabFacets }}
                        <button style="padding: 3px 6px 3px 6px;" onclick="{{ if $vocabFacet.Checked }}this.removeAttribute('selected');{{ else }}this.setAttribute('selected', 'true');{{ end }}search('{{ $searchBase }}')" type="button" class="btn borderedge btn-csp vocButton" value="voc:{{ $parent }}:{{ $vocabFacet.Name }}" selected="{{ if $vocabFacet.Checked }}true{{ else }}false{{ end }}">
                            {{ if $vocabFacet.Checked }}<i class="bi bi-check2"></i>&nbsp;{{ end }}{{ abbrev 32 (localize $vocabFacet.Name $lang) }} ({{ $vocabFacet.Count }})
                        </button>
                   {{ end }}
                    </div>
                </li>
            {{ end }}
    </ul>
    </div>
</div>

{{ template "footer.gohtml" . }}


<script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/search.js"></script>
</body>
</html>

