@use 'csp_dark';
@use 'csp_light';

:root {
  color-scheme: light dark;

  --bs-focus-ring-opacity: 0 !important;
  --bs-focus-ring-width: 0px !important;

  --bs-pagination-active-bg: #dee2e6 !important;
}

.accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-active-bg: transparent !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-border-width: 0px !important;
  --bs-accordion-border-radius: 0px !important;
  --bs-accordion-btn-focus-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;

}

.accordion-body {
  padding-top: 0px !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.masked img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../img/image_mask.png);
  mask-image: url(../img/image_mask.png);
}

.form-control:focus {
  box-shadow: none;
}

.csp-bubble-area {
  height: 400px;
  background-size: 100% auto;
}

.csp-brand-image {
  height: 55px;
}


.borderedge {
  border-image-slice: 32;
  border-image-repeat: stretch;
  border-width: medium;
  border-style: inset;
}

.pborder {
  border-image-slice: 20;
  border-image-repeat: stretch;
  border-width: medium;
}


.longborder {
  border-image-slice: 46 30 46 30;
  border-image-repeat: stretch;
  border-width: medium;
}


